*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none; font-family: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*-------------------------------------обнуление---------------------------------------*/
body{
    font-family: Montserrat;
    letter-spacing: 0.03em;
    background-color: #e8e8e8;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
}

.header {
    height: 100%;
    padding: 5.125rem 0;   
    background-color: #322626;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.container1 {
    max-width: 1180px;
    margin: 0 auto;
}
.color{
    color: #f93918;

}
.nav {
    background-color: #fff;
    width: 100%;
    padding: 0.5rem 0;
    position: fixed;
}
a{
    color: #fff;
}
.nav__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__ref a{
    margin-left: 10rem;
    color: #000;
    font-size: 1.25rem;
}
.content {
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.content__text {
    margin: 1.5rem 0;
}

.content__btn {
    background-color: #B7893C;
    width: 12em;
    height: 3.25em;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 5.75rem;
}
h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 5.75rem;
}
p.text{
    text-align: center;
    margin: 1rem 0;
    line-height: 2rem;
}
.about__adv {
    display: flex;
    padding: 7.5rem 0;
    justify-content: space-between;
}
.about__adv_item{
    display: flex;
    flex-direction: column;
}
.about {
    text-align: center;
    line-height: 3rem;
}
.watch_text{
    font-weight: 500;
    font-style: 1.5em;
    text-align: left;
    margin: 0.8rem 0;
}
.watch__flex{
    display: flex;
    justify-content: space-between;
}
.con{
    font-size: 1.5rem;
    line-height: 2.18rem;
}
.dark{
    font-weight: 500;
    color: #000;
}
.footer{
    background-color: #c4c4c4;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
    font-size: 1.5em;
}
.ml{
    margin-left: 1rem;
}
.main{
    padding-bottom: 3rem;
}
